<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>golden_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,900},{40,64}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{40,64}}</string>
                <key>sourceSize</key>
                <string>{64,90}</string>
            </dict>
            <key>golden_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,866},{42,68}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,16},{42,68}}</string>
                <key>sourceSize</key>
                <string>{64,90}</string>
            </dict>
            <key>golden_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,888},{40,64}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{40,64}}</string>
                <key>sourceSize</key>
                <string>{64,90}</string>
            </dict>
            <key>golden_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,822},{42,68}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{42,68}}</string>
                <key>sourceSize</key>
                <string>{64,90}</string>
            </dict>
            <key>golden_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,954},{46,66}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{46,66}}</string>
                <key>sourceSize</key>
                <string>{64,90}</string>
            </dict>
            <key>golden_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,956},{44,64}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{44,64}}</string>
                <key>sourceSize</key>
                <string>{64,90}</string>
            </dict>
            <key>golden_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,888},{46,62}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{46,62}}</string>
                <key>sourceSize</key>
                <string>{64,90}</string>
            </dict>
            <key>golden_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,952},{44,64}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{44,64}}</string>
                <key>sourceSize</key>
                <string>{64,90}</string>
            </dict>
            <key>golden_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,886},{46,66}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{46,66}}</string>
                <key>sourceSize</key>
                <string>{64,90}</string>
            </dict>
            <key>golden_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,932},{44,64}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{44,64}}</string>
                <key>sourceSize</key>
                <string>{64,90}</string>
            </dict>
            <key>golden_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{46,62}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,20},{46,62}}</string>
                <key>sourceSize</key>
                <string>{64,90}</string>
            </dict>
            <key>golden_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,910},{44,64}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,18},{44,64}}</string>
                <key>sourceSize</key>
                <string>{64,90}</string>
            </dict>
            <key>golden_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,888},{40,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,13},{40,66}}</string>
                <key>sourceSize</key>
                <string>{64,90}</string>
            </dict>
            <key>golden_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,828},{40,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{40,70}}</string>
                <key>sourceSize</key>
                <string>{64,90}</string>
            </dict>
            <key>golden_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,952},{40,66}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{40,66}}</string>
                <key>sourceSize</key>
                <string>{64,90}</string>
            </dict>
            <key>golden_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,756},{40,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{40,70}}</string>
                <key>sourceSize</key>
                <string>{64,90}</string>
            </dict>
            <key>x_attack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{60,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,64},{60,62}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>x_attack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,134},{110,110}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,39},{110,110}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>x_attack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,886},{104,108}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,38},{104,108}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>x_attack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{122,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,31},{122,130}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>x_attack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,756},{130,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,25},{130,142}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>x_attack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,746},{138,152}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,19},{138,152}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>x_attack_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,246},{144,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,16},{144,160}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>x_attack_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,580},{146,164}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{146,164}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>x_attack_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{148,168}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,11},{148,168}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>x_attack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,408},{148,170}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{148,170}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>x_attack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,562},{160,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{160,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>x_attack_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{162,192}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{162,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>x_attack_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,368},{162,192}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{162,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>x_attack_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{164,192}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{164,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>x_attack_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,174},{168,192}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{168,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>x_attack_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,192}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{174,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>x_attack_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{170,190}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{170,190}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>x_attack_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{162,192}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{162,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>x_attack_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,134},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>x_attack_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,134},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MSG.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c0de22b010a9353658f22fc7ab53306$</string>
            <key>textureFileName</key>
            <string>MSG.pvr.ccz</string>
        </dict>
    </dict>
</plist>
